html {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF931E;
  border: solid 1px #FF931E;
}

.App {
  background-color: #333333;   
} 

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navbar {
  background-color: rgba(15, 30, 38, 0.2);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar img {
  height: 60px;
}

.navbar span {
  display: flex;
  font-weight: normal;
  padding: 05px 15px;
}

.navbar .userNav {
  justify-content: flex-end;
}

.userNav .Dropdown-root {
 border-radius: 20px;
 margin-left: 30px;
}

.navbar > * {
  flex: 1;
}

.loginMain button {
  color: #EAEAEA;
  width: 200px;
  height: 50px;
  font-size: 35px;
  font-family: Georgia, serif;  
  margin-top: 750px;
  margin-left: 900px;
  background-color: #FF931E;
  position: absolute;  
  border-color: transparent;
}
.loginMain img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;    
}

.loginMain p {
  float: center;
  margin-right: 700px;
  border: 2px solid transparent;
  font-size: 30px;
  margin-top: 680px;
  margin-left: 29px;
  padding: 10px;
  font-family: Georgia, serif;  
  z-index: 120;
  color: #D1603D;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.wrapper {
  display: flex;
  flex-direction: column; 
}

/* MovieHighlights*/

.movieOverview {
  font-size: 0.8em;
}

.moviePoster: {
    width: 800;    
    align-items: 'flex-start';   
  },

.movieTitle {
    margin-bottom: 2
}

.watchNow {
    color: '#FF931E';
    font-size: 14;
    text-decoration: 'none';   
} 
.gradient {
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(0,0,0,0.5) 40%, rgba(255,255,255,0) 100%);
    height:'600px';
    padding:'100px 50px';
  }

/* end MovieHighlights*/

/* MovieSliders*/

.movieSliders {
  padding-left: 40px;
}

.movieSliders h2{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 30px 0 0 0;
}

.carouselContainer {
  width: 95%;
}

/* end MovieSliders*/

.slick-list{
  background-size: contain;
}

.Dropdown-placeholder{
  font-family: 'Oswald', sans-serif;
  font-size: 15px; 

}
.Dropdown-menu .Dropdown-option{
  font-family: 'Oswald', sans-serif;
  font-size: 15px; 
  background-color: #231F20;
}
.wrapper > * {
  width: 100%;
}
  
.tabWrapper {
  display: flex;
  flex-direction: column-reverse;
  border: '2px solid #FF931E';
}

.tabPanel {
  min-height: 50vh;
  height: 100%;
}

.tabNav {
   text-align: center;
   padding: 0; /*sobreescribre el padding default del ul*/
   margin: 0; /*sobreescribre el margin default del ul*/   
 }

.tabNav li{
  font-family: Georgia, serif;
  font-size: 20px;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 5px;  
  border: 2px solid #FF931E;
  background: #231F20;
}

.tabNav li:hover {
  background-color: #333;  
}

.tabNav .ReactTabs__Tab--selected {
  background-color: #FF931E;
}




/*video player*/

.playerWrapper {
  width: 100%;
  height: 100%;

  display: flex;
}

.player {
  height: 100%;
  flex:1;
}

.backButton {
  width: 100px;
  height: 40px;
  position: fixed;
  top:10px;
  left: 10px;
}

/* video player end*/

.footer {
  margin-top:40px; 
  padding:10px 0 10px 10px;
  font-size: 2em;
  background: #FF931E;
  color: white;
}
