html {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App{
  background-color: #333333;   
} 

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navbar {
  background-color: rgba(15, 30, 38, 0.8);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar img {
  height: 60px;
}

.navbar span {
  display: flex;
  font-weight: normal;
  padding: 05px 15px;
}

.navbar .userNav {
  justify-content: flex-end;

}

.userNav .Dropdown-root {
border-radius: 20px;
margin-left: 30px;
}

.navbar > * {
  flex: 1;
}

.buttonIngresa button {
  color: #EAEAEA;
  width: 200px;
  height: 50px;
  font-size: 35px;
  font-family: Georgia, serif;  
  margin-top: 100px;
  margin-left: 1120px;
  background-color: #FF931E;
  position: absolute;  
  border-color: transparent;
}
.buttonIngresa img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;    
}

.buttonIngresa .buttonLogin {
  top: 300px;

}
.wrapper {
  display: flex;
  flex-direction: column; 
}

.slick-list{
  background-size: contain;
  margin-top: 100px;
}

.Dropdown-placeholder{
  font-family: 'Oswald', sans-serif;
  font-size: 15px; 

}
.Dropdown-menu .Dropdown-option{
  font-family: 'Oswald', sans-serif;
  font-size: 15px; 
  background-color: #231F20;
}
.wrapper > * {
  margin: 0 auto;
  width: 90%;
}
  
.tabWrapper {
  display: flex;
  flex-direction: column-reverse;
  border: '2px solid #FF931E';
/*   background: url(https://moldeandolaluz.files.wordpress.com/2010/10/nosferatu.jpg);
background-size: cover; */
}

.tabPanel {
  min-height: 50vh;
  height: 100%;
}

.tabNav {
   text-align: center;
   padding: 0; /*sobreescribre el padding default del ul*/
   margin: 0; /*sobreescribre el margin default del ul*/
 }

.tabNav li{
  font-family: Georgia, serif;
  font-size: 20px;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 5px;  
  border: 2px solid #FF931E;
}

.tabNav li:hover {
  background-color: rgba(143,76,0,0.5);  
}

.tabNav .ReactTabs__Tab--selected {
  background-color: #FF931E;
}


.carouselContainer {
  margin: 20px auto;
  padding: 40px;   
}

/*video player*/

.playerWrapper {
  width: 100%;
  height: 100%;

  display: flex;
}

.player {
  margin-top:70px; 
  height: 100%;
  flex:1;
}

/* video player end*/

footer {
  padding:20px 10px;
  font-family: Georgia, serif;
  font-size: 20px;
  }